.editor-wrapper {
  display: none;
  position: fixed;
  z-index: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 35%;
  left: 40%;
  width: 400px;
  height: 200px;
  background-color: #c4c4c4;
}

#textEditData {
  margin: 10px;
  width: 200px;
  height: 100px;
}

.openEditor {
  display: flex;
}
